* {
    margin: 0;
    padding: 0;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template: 120px 1fr / 1fr;
}

.sidebar {
    position: fixed;
    background-color: #0e415f;
    height: 100vh;
    width: 200px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar > div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

.sidebar > a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.sidebar > a:hover {
    background-color: #f97316;
}

.sidebar > a:active {
    background-color: #da6512;
}

.sidebar img {
    justify-self: center;
    align-self: center;
    filter: invert(100%) sepia(33%) saturate(2%) hue-rotate(293deg) brightness(107%) contrast(101%);
    width: 25px;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 100px 0 300px;
}

.header > p {
    font-size: 48px;
    font-weight: 500;
    width: 100%;
}

.logout,
.create-course {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f97316;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logout:hover,
.create-course:hover {
    background-color: #da6512;
}

.logout:active,
.create-course:active {
    background-color: #f97316;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f5f9;
    box-shadow: inset 4px 4px 4px -4px #808080;
    padding: 50px 50px 50px 250px;
}

.create-course {
    width: 150px;
    margin-bottom: 50px;
}

.content > form > label,
.content > form > input {
    display: none;
}



table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
}

th {
    background-color: white;
}

td, th {
    border: 1px solid #bebebe;
    padding: 10px 20px;
}

td {
    text-align: left;
}

tr:nth-child(even) td {
    background-color: #f5f5f5;
}

tr:nth-child(odd) td {
    background-color: #fafafa;
}

td > form > label,
td > form > input {
    display: none;
}

td button {
    padding: 2px;
}

.shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .4;
    height: 100%;
    cursor: default;
    z-index: 1;
}

.info-pop-up,
.edit-pop-up {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: 500px;
    box-sizing: border-box;
    background-color: #f1f5f9;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.hidden {
    display: none;
}

.info-pop-up > h1,
.edit-pop-up > h1 {
    background-color: white;
    box-shadow: 0 2px 4px -4px black;
    font-size: 24px;
    padding: 25px 50px;
    border-radius: 6px 6px 0 0;
}

.info-pop-up label,
.info-pop-up input {
    display: none;
}

.buttons {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.buttons button,
.buttons a {
    background-color: #f97316;
    height: 40px;
    width: 90px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.buttons button:hover,
.buttons a:hover {
    background-color: #da6512;
}

.buttons button:active,
.buttons a:active {
    background-color: #f97316;
}

.buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.edit-pop-up > form {
    padding: 25px 50px;
    display: grid;
    gap: 20px;
}

.edit-pop-up > form > label {
    margin-bottom: -15px;
}

.edit-pop-up > form > input {
    padding: 4px;
}

textarea {
    height: 100px;
    padding: 4px;
    resize: none;
}

.edit-pop-up > form > [for="action"],
.edit-pop-up > form > [id="action"] {
    display: none;
}

.edit-pop-up > form button,
.delete > form button {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 8px;
    background-color: #f97316;
    color: white;
    cursor: pointer;
    justify-self: center;
}

.edit-pop-up > form button:hover,
.delete > form button:hover {
    background-color: #da6512;
}

.edit-pop-up > form button:active,
.delete > form button:active {
    background-color: #f97316;
}

.edit-pop-up > form > button {
    margin-top: 15px;
    margin-bottom: -5px;
}

.delete {
    display: grid;
}

.delete button {
    margin-top: -5px;
    margin-bottom: 25px;
}

.delete [id="action"],
.delete [id="course_id"] {
    display: none;
}