@font-face {
    font-family: college-font;
    src: url(/supercreative/static/fonts/CollegiateheavyoutlineMedium-B0yx.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template: 120px 1fr / 1fr;
}

.sidebar {
    position: fixed;
    background-color: #0e415f;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.sidebar > div {
    background-color: #f97316;
    font-size: 96px;
    font-family: college-font;
    color: #0e415f;
    height: 120px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar > a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.sidebar > a:hover {
    background-color: #f97316;
}

.sidebar > a:active {
    background-color: #da6512;
}

.sidebar img {
    justify-self: center;
    align-self: center;
    filter: invert(100%) sepia(33%) saturate(2%) hue-rotate(293deg) brightness(107%) contrast(101%);
    width: 25px;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 100px 0 300px;
}

.header > p {
    font-size: 48px;
    font-weight: 500;
    width: 100%;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f97316;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.logout:hover {
    background-color: #da6512;
}

.logout:active {
    background-color: #f97316;
}

.content {
    background-color: #f1f5f9;
    box-shadow: inset 4px 4px 4px -4px #808080;
}