{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'courses.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <a class="home">
            <img src="../supercreative/static/images/home.svg" alt="home button">
            Home
        </a>
        <a class="users">
            <img src="../supercreative/static/images/account-group.svg" alt="users button">
            Users
        </a>
        <a class="courses" href="/course/">
            <img src="../supercreative/static/images/book-open-variant.svg" alt="courses button">
            Courses
        </a>
        <a class="sections">
            <img src="../supercreative/static/images/monitor-dashboard.svg" alt="sections button">
            Sections
        </a>
    </div>
    <div class="header">
        <p>Course Catalog</p>
    </div>
    <div class="content">
        <table>
            <col style="width:11%">
            <col style="width:14%">
            <col style="width:25%">
            <col style="width:50%">
            <tr>
                <th>Course ID</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Course Description</th>
            </tr>
            {% for course in courses %}
                <tr>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.course_code }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if flag %}
        <div class="shade"></div>
        <div class="pop-up">Dummy code</div>
    {% endif %}
</body>
</html>